PUBLIC_SITE_URL=https://www.littlemandarinstar.com
PUBLIC_SANITY_PROJECT_ID=replace-with-sanity-project-id
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-06-28
PUBLIC_SANITY_VISUAL_EDITING_ENABLED=false
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
